$form-padding: 0.5rem 1rem;
$border-radius:0.5rem;
.f-group {
	margin-bottom: 1.25rem;
	display:flex;
}
input {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: $form-padding;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: $border-radius;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: 1px solid transparent;
	padding: $form-padding;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: $border-radius;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	&:hover {
		cursor: pointer;
	}
	&.button-primary {
		color: #fff;
		background-color: $primary;
		border-color: $primary;
	}
	&.button-outline-primary {
		color:$primary;
		border-color: $primary;
	}
	.meal-list{
		margin:5px;
		background-color: #eff4f7;
		border:#b9d7ea 1px solid;
		border-radius: 10px;
		font-size: 1.2rem;
	}
}
