$primary: #3f40b8;
$gray: #f8f9fa !default;
$gray-900: #212529 !default;
$grey-darker: hsl(0, 0%, 21%) !default;
$black: #000;

$white: #fff !default;

$white: #fff !default;
$text: $gray-900;

$body-color: $text;

$box-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1) !default;

$text-strong: $grey-darker;

$weight-bold: 700 !default;
