[report]
omit=
    */python?.?/*
    */site-packages/nose/*
    */werkzeug*
    */markupsafe*
    */jinja2*
    */flask*
    */jwt*
    */click*
    */colorama*
    */concurrent*
    */asyncio*
    */ctypes*
    *decimal.py*
    */sql*/*
    */ht*/*
    *mime*.*
    */multi*/*
    *numbers.py*
    *config.py*
    *stringprep.py*
    *uuid.py*
    */encodings/*
    *hmac.py*
    *itsdangerous.py*
    *six.py*
    *typing.py*
    *socketserver.py*
    */chardet*/*
    *certifi*/*
    *cgi.py*
    *flasgger*/*
    *idna*/*
    *jsonschema*/*
    *mistune.py*
    *requests*/*
    *urllib*/*
    *yaml*/*
