
.order-button{
	display:inline;
	margin-top: 5px;
	color: #fff;
	font-size: 1rem;
	padding:5.5px;
	width: 40%;
	margin:auto;
	background-color:$primary;
}
.centered{
	width:50%;
	margin-left:25%;
	margin-right: 25%;
	padding:2px;
	display:flex;
	justify-content:space-around;

}