<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Book-a-meal-heroku</title>
        <style>
            .centre {
                text-align: center;
            }
        </style>
    </head>

    <body class="centre">
        <h1> Book-a-meal App </h1>
        <p>
            <h3>You are welcome!</h3>
        </p>
        <p>
            <h4>Enjoy</h4>
        </p>
        <p>
            API Documentation
            <a href="/apidocs">here</a>
        </p>
    </body>

</html>